body {
    overflow-x: hidden;
    height: 500%;   
    background-image: linear-gradient(rgb(3, 44, 38), rgba(18, 143, 154, 0.485));
    background-repeat: no repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: grid;
    background-image: url("images/b.jpg");
    place-items: center;
    animation: slide;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;

}
.social-links {
    display: inline-flex;
}
.social-links .icon {
    margin: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
}
.social-links .icon span {
    position: relative;
    height: 60px;
    width: 60px;
    display: block;
    background: #a0bcb9;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgb(74, 108, 115);
}
.social-links .icon span i{
    color: #000000;
}
.social-links .icon span {
    font-size: 25px;
    line-height: 60px;
}
.social-links .icon .tooltip {
    background: #61ab8f;
    font-size: 20px;
    color: #060000;
    top: 0px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(238, 221, 221, 0.848);
    opacity: 0;
    pointer-events: none;
}
.social-links .icon:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.social-links .icon .tooltip:before {
    position: absolute;
    content: "";
    height: 15px;
    background: green;
    bottom: -8px;
    left:50%;
    transform: translateX(-50%) rotate(45deg);
}
.social-links .icon:hover span, 
.social-links .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba (0,0,0,0.4);
}
.social-links .facebook.icon:hover span, 
.social-links .facebook.icon:hover .tooltip,
.social-links .facebook.icon:hover .tooltip:before {
    background: #3B5998;
}
.social-links .google:hover span, 
.social-links .google:hover.icon:hover .tooltip,
.social-links .goole:hover.icon:hover .tooltip:before {
    background: hsla(347, 69%, 45%, 0.8);
}
.social-links .github.icon:hover span, 
.social-links .github.icon:hover .tooltip,
.social-links .github.icon:hover .tooltip:before {
    background: #fbfcff;
}


.logo{
    width: 100px;
    margin-top: 30px;
    cursor: pointer;
}
.navbar {
    width: 100%;
    height: 10vh;
    margin: auto;
    display: flex;
    align-items: center;
}
nav{
    flex: 1;
    padding-left: 600px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:0px 20px;
}
nav ul li:hover::before {
    color: white;
}
nav ul li a{
    text-decoration: none;
    margin-top: 10px;
    font-size: 30px;
    color: rgb(179, 132, 62);
}
.navbar h1{
    font-size: 40px;
    color: white;
}
.content h1 {
    font-size: 60px;
    font-weight: 160;
    margin-left: 800px;
    margin-top: 40px;
    margin-bottom: 25px;
    color: rgb(219, 205, 213);
}
.content p {
    font-size: 20px;
    margin-left: 850px;
    color: rgb(227, 216, 211);
}
.content {
    margin-top: 100px;
    margin-left: 0px;
    background: url(images/profile.png);
    background-position-x: 25%;
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: 18%;
}
.content .btn {
    display: inline-block;
    background: linear-gradient(45deg, pink, red);
    border-radius: 6px;
    margin-top: 10px;
    padding: 10px 20px;
    margin-left: 800px;
    box-sizing: border-box;
    text-decoration:none;
    color: #fff;
    box-shadow: 3px 8px 22px rgb(75, 5, 45);
}
.content .btn1 {
    display: inline-block;
    margin-top: 10px;
    background: linear-gradient(45deg, rgb(153, 174, 195), rgb(86, 211, 126));
    border-radius: 6px;
    padding: 10px 20px;
    margin-top: 10;
    margin-left: 900px;
    box-sizing: border-box;
    text-decoration:none;
    color: #fff;
    box-shadow: 3px 8px 22px rgb(75, 5, 45);
}
  
.mypic {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 30px;
    cursor: pointer;
    float:left;
    border:5px solid #580456;
    border-radius: 10px;
    margin-right: 15px;
}
@keyframes  slide {
    from{
        transform: translate (-300px);
    }
    to {
        transform: translate(0);
    }
}
h1{
    animation: slide;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 2;
    animation-direction: normal;
    animation-fill-mode: none;

    transform: translateX(-150px);

}
.wrapper{
    margin-top: 0px;
    margin: 0px auto;
    width: 95%;
    background-image: linear-gradient(rgb(11, 103, 134),rgb(3, 92, 104));
    box-shadow: 0px 4px 16px rgb(58, 50, 214);
    padding: 30px;
}
.wrapper .project{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin: 5px auto;
    position: relative;
    width: 20%;
    height: 50%;
    background-image: linear-gradient(rgb(6, 128, 169),rgb(19, 121, 198));
    box-shadow: 0px 4px 16px rgb(124, 119, 211);
    padding: 20px;
    float:right;
}
.wrapper .project1{
    margin-top: 0px;
    float: right;
    margin: 5px auto;
    position: relative;
    width: 20%;
    height: 50%;
    background-image: linear-gradient(rgb(171, 204, 215),rgb(4, 116, 133));
    box-shadow: 0px 4px 16px rgb(11, 168, 160);
    padding: 20px;
}
.textbox{
    padding: 10px;
    margin: 20px;
    color:rgb(241, 244, 235);
    font-size: 30px;
    

}
p {
    font-size: 25px;
    font-family: 'Alata';
    font-weight: 160;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 25px;
    color: rgba(245, 237, 237, 0.947);
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #0a6464);
    border-radius: 6px;
    
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #054844);
}
.navbar {
    position:sticky;
    top: 0px;
    font-weight: 600;

}
.link{
    cursor: pointer;
    position: relative;
    padding-bottom: 8px;
}
.link::after {
    position: absolute;
    content: "";
    left: 0%;
    bottom: 0;
    width: 0%;
    height: 10px;
    background-color: #05c491;
    transition: width 0.4s ease-out;
}
.link:hover.link::after {
    width: 100%;
}
h1 {
    margin-top: 150px;
    font-family: 'Pacifico', cursive;
    position: relative;
    font-size: 14vw;
    color: rgb(208, 217, 243);
    -webkit-text-stroke: 0.3vw rgba(8, 110, 136, 0.99);
}
h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    Left: 0;
    width: 100;
    height: 100%;
    color: #53e2cd;
    -webkit-text-stroke: 0vw #2e23a7;
    border-right:2px solid #45116f;
    overflow: hidden;
    animation: name 6s, linear infinite;
}
@keyframes name {
    0%, 10%, 100% {
        width: 0%;
    }
    70%, 90%{
        width: 100%;
    }
}
h2 {
    font-family: 'Pacifico', cursive;
    color: #98d5da;
    font-size: 30px;
    text-align: center;
}

.wrapper h2 {
    font-family: 'Pacifico', cursive;
    color: #98d5da;
    animation: slide;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;

    transform: translateX(20px);
}
h2::before {
    content: attr(data-text);
}
.gallery{
    position: relative;
    width: 230px;
    height: 230px;
    margin-left: 650px;
    transform-style: preserve-3d;
    animation: gal 30s linear infinite;
} 
@keyframes gal {
    0% {
        transform: perspective(1000px) rotate(0deg);
    } 100% {
        transform: perspective(1000px) rotateY(-370deg);
    }
}
.gallery span {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(370px);
}
.gallery span img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 20px;
    transition: 1.5s;
}
h3 {
    color: yellow;
}
p1{
    size: 60px;
    text-align: center;
    font-family: Arial;
    color:hsla(0, 0%, 0%, 0.8)
}